# Pastas de Dependências
node_modules/

# Arquivos de Variáveis de Ambiente e Logs
.env
.env.local
.env.development.local
.env.production.local
*.log
npm-debug.log*
db_fallback.json

# Arquivos de Configuração de IDEs e SO
.vscode/
.idea/
.DS_Store
Thumbs.db
